#classic {

}

#modern {

}

#impact {

}

#elise {
    background-color: floralwhite;
    padding: 1em 1.3em;
    text-align: center;
    font-family: cursive;
    border: 7px groove antiquewhite;
}

#one, #two  {

}

#gaudi {

}




